<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        ul{
            list-style: none;
        }
        li{
            display: inline;
            float: left;
            padding-right: 30px;
        }
        p{
            padding-right: 30px;
        }
    </style>
</head>
<body>
<ul>
    <li>
        <a href="http://127.0.0.1:8000/dangdang/dang/?id=1" title="乖，摸摸头">
    <img src="/static/img/1.png" alt="">
</a>
        <p><a href="http://127.0.0.1:8000/dangdang/dang/?id=1">100$</a></p>
    </li>
    <li>
        <a href="http://127.0.0.1:8000/dangdang/dang/?id=2" title="乖，摸摸头">
    <img src="/static/img/2.png" alt="">
</a>
        <p><a href="http://127.0.0.1:8000/dangdang/dang/?id=2">100$</a></p>
    </li>
</ul>
</body>
</html>